{% extends 'portfolio_app/base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        {% for item in item_list %}
        <div class="project-card">
            <div class="col-md-4">
                <img class="card-img" src=" {{item.hobby_image }} " />
            </div>
            <div class="col-md-4">
                <h3>{{item.hobby_name}}</h3>
                <h6><b>Description: </b>{{item.hobby_desc}}</h6>
            </div>
            
            <div class="col-md-3 mt-3">
                <div class="d-flex justify-content-start gap-2"> 
                    <a href="{% url 'portfolio_app:hobbyShowcase' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>{% endfor %}
    </div>
</div>{% endblock %}